<h1>Bienvenue au cryptodrome</h1>

<%= form_for :search do |f| %>
 

  
    <%= f.label :Choisis_ta_faillite_ou_richesse %>
    <%= f.select :choice, (@currencies) %>
 

    <%= f.submit "Sors ton mouchoir" %>


 Le cours de ton cryptocheval est <%= @currency %> is :</p>
 <p><%= @price %>$</p>
 
<% end %>


